a.orderStart {
  position: absolute;
  margin-top: 20px;
  /* top:50%;
    left:50%; */
  background: lightblue;
  transform: translate(-50%, -50%);
  width: 150px;
  /* height:50px; */
  /* padding:0 1rem; */
  /* line-height:60px; */
  text-align: center;
  border: 2px solid lightblue;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: lightcoral;
  overflow: hidden;
}
a.orderStart span {
  display: inline-block;
  transition: 0.5s;
}
a.orderStart span:nth-child(odd):before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(100%);
}
a.orderStart span:nth-child(odd) {
  transform: translateY(-100%);
}
a.orderStart:hover span:nth-child(odd) {
  transform: translateY(0);
  color: darkred;
}
a.orderStart span:nth-child(even):before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}

a.orderStart span:nth-child(even) {
  transform: translateY(100%);
}
a.orderStart:hover span:nth-child(even) {
  transform: translateY(0);
  color: darkred;
}

.blink {
  /* font-size: 240px; */
  color: rgb (0, 137, 226);

  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

div.slide-left {
  height: 50px;
  overflow: hidden;
  position: relative;
}

div.slide-left p {
  font-size: 3em;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;

  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: slide-left 15s linear infinite;
  -webkit-animation: slide-left 15s linear infinite;
  animation: slide-left 15s linear infinite;
}

@-moz-keyframes slide-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes slide-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* 
div.slide-left {
  width: 100%;
  overflow: hidden;
}
div.slide-left p {
  animation: slide-left 10s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */
