body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.neon-background {
  background-image: url(../images/neonbackground.PNG);
}

a.orderStart {
  position: absolute;
  margin-top: 20px;
  /* top:50%;
    left:50%; */
  background: lightblue;
  transform: translate(-50%, -50%);
  width: 150px;
  /* height:50px; */
  /* padding:0 1rem; */
  /* line-height:60px; */
  text-align: center;
  border: 2px solid lightblue;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: lightcoral;
  overflow: hidden;
}
a.orderStart span {
  display: inline-block;
  transition: 0.5s;
}
a.orderStart span:nth-child(odd):before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(100%);
}
a.orderStart span:nth-child(odd) {
  transform: translateY(-100%);
}
a.orderStart:hover span:nth-child(odd) {
  transform: translateY(0);
  color: darkred;
}
a.orderStart span:nth-child(even):before {
  content: attr(data-text);
  position: absolute;
  transform: translateY(-100%);
}
a.orderStart span:nth-child(even) {
  transform: translateY(100%);
}
a.orderStart:hover span:nth-child(even) {
  transform: translateY(0);
  color: darkred;
}
.blink {
  /* font-size: 240px; */
  color: rgb (0, 137, 226);
  animation: blink 2s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
div.slide-left {
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 4px solid #868f96;
}
div.slide-left p {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: slide-left 15s linear infinite;
  -webkit-animation: slide-left 15s linear infinite;
  animation: slide-left 15s linear infinite;
}
@-moz-keyframes slide-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes slide-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#weather-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
#weather {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
.subTitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-variant: normal;
  font-weight: 700;
  line-height: 30.4px;
  margin-bottom: 25px;
}

/* neon title */
.headline {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: italic normal normal 27px / normal "Warnes", Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /* white-space: pre; */
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de,
    0 0 80px #ff00de, 0 0 100px #ff00de;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.specials {
  background-image: url(../images/todaySpecial.PNG);
  background-size: cover;
  height: 100%;
  /* background-size: 100% auto;
  width: 100%;
  height: 100%; */
  /* position: static;

   */
  /* background-repeat: no-repeat;
  background-size: contain; */

  /*  */
  /* padding-top: 10.64%; */
}

/* @media (max-width: 690px) {
  .specials {
    display: visi;
  }
} */
